@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
    /* Brand Colors */
    --deep-blue: #003049;
    --light-blue: #669bbc;
    --deep-red: #780000;
    --light-red: #c1121f;
    --cream-white: #fdf0d5;
    
    /* Functional Colors */
    --stat-description: rgb(163, 163, 163);
    --text-muted: rgba(255, 255, 255, 0.603);
    --glass-cream-ham: rgba(255, 255, 255, 0.281);
    --glass-border-ham: rgba(255, 255, 255, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
}

/* Shared Utility Filters */
.white-filter { filter: brightness(0) invert(1); }
.deep-blue-filter { 
    filter: brightness(0) saturate(100%) invert(13%) sepia(58%) saturate(2014%) hue-rotate(174deg) brightness(97%) contrast(103%); 
}
.grey-filter { filter: grayscale(1); opacity: 0.5; }