.main-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.main-content-header button{
    display: flex;
    align-items: center;
    gap: 8px;

    font-family: 'Outfit', sans-serif;
    font-size: 18px;

    padding: 14px 20px;

    cursor: pointer;
    background: linear-gradient(to left, var(--deep-blue), var(--light-blue));

    border: none;
    border-radius: 14px;

    transition: 0.3s;

    color: white;
}

.main-content-header button:hover{
    transform: translateY(-3px);
    box-shadow: 0 0 8px var(--light-blue);
}

#main-content-title {
    color: var(--deep-blue);
    font-family: 'Outfit', sans-serif;
    font-weight: 800;
    font-size: 2rem;
}

.main-content-container {
    display: flex;
    gap: 60px;
    width: 100%;
    height: 100%;
    /* border: 2px solid green; */
}

/* Tracker */

/* .tracker-steps {
    border: 2px solid red;
} */

.stat-container {
    max-width: 500px;
    width: 100%;
    max-height: 150px;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    background: white;
    padding: 10px;
    border-radius: 20px;
    border-left: 4px solid var(--light-blue);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.027);
}

.tracker {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 400px;
    width: 100%;
    
}

.tracker p {
    width: 100%;
    text-align: left;
    /* border: 2px solid red; */
    color: var(--stat-description);
    font-size: 'Outfit', sans-serif;
    margin-top: 0px;
    font-weight: 400;
    font-size: 0.9rem;
}

.tracker p span{
    width: 100%;
    text-align: left;
    /* border: 2px solid red; */
    color: var(--light-blue);
    font-size: 'Outfit', sans-serif;
    margin-top: 0px;
    font-weight: 700;
    font-size: 0.9rem;
}

.tracker .tracker-steps {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.tracker-steps {
    /* border: 2px solid blue; */
    margin-bottom: 0px;
}

.tracker-steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    color: #999;
    font-size: 22px;
    font-weight: 500;
    border: 4px solid #e0e0e0;
    border-radius: 50%;
    background-color:white;
    z-index: 2;
}

.tracker-steps .progress-bar {
    position: absolute;
    height: 4px;
    width: calc(100% - 50px); 
    left: 25px;
    background: #e0e0e0;
    z-index: -1;
}

.progress-bar .indicator {
    position: absolute;
    height: 100%;
    width:0%;
    background: var(--light-blue);
    transition: width 0.4s ease;
    left: 0;
}

.tracker .tracker-debug-buttons {
    display: flex;
    gap: 20px;
}

.tracker-debug-buttons button {
    padding: 8px 25px;
    border: none;
    border-radius: 8px;
    background-color: var(--light-blue);
    color: white;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-weight: 400px;
}

.tracker-steps .circle.active {
    border-color: var(--light-blue);
    background-color: var(--light-blue);
    color: white;
    transition: 0.4s ease;
}

.tracker-debug-buttons button:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    filter: grayscale(1);
}

/* Time Stat */

.stat-time {
    border-left: 4px solid var(--deep-blue);
    width: 250px;
}

.stat-time .stat-time-clock {
    font-family: 'Outfit', sans-serif;
    font-size: 2.2rem;
    color: var(--deep-blue);
    font-weight: 700;
}

.stat-time .stat-time-date {
    font-family: 'Outfit', sans-serif;
    color: var(--stat-description);
    font-weight: 400;
}

.stat-time-date, .stat-time-clock{
    width: 100%;
    text-align: left;
    margin-left: 48px;
}

.stat-time-date {
    margin-top: 16px;
    font-size: 0.9rem;
}

.new-submission-btn:disabled {
    background: linear-gradient(to left, #95a5a6, #bdc3c7) !important;
    color: #f0f0f0;
    transform: none !important;
    box-shadow: none !important;
    cursor: not-allowed;
    opacity: 0.7;
}